/* @todo: Uncomment. */
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

/* @todo: Clean up extra classes. */

html, body, textarea, input, div, button, pre, .terminal, .xterm, #terminal, .codeMirrorContainer, .CodeMirror {
  background-color: #282c34;
  color: #abb2bf;
  font-family: 'Inconsolata', Menlo, 'SF Mono', Consolas, Monaco, 'Liberation Mono', 'Droid Sans Mono', monospace;
  font-size: 15px;
}

body {
  overflow: hidden;
}

img.logo {
  height: auto;
  width: 400px;
}

#editor-output, #terminal {
  border-bottom: solid 1px #61afef;
  padding-top: 15px;
}

button, #language {
  font-family: Roboto, sans-serif;
  padding: 3px;
  font-size: 16px;
  background: #61afef;
  border: none;
  border-radius: 2px;
  color: #1e2127;
}

button:hover {
  background: #56b6c2;
  cursor: pointer;
}

.CodeMirror-vscrollbar, .CodeMirror-gutter-filler, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-vscrollbar, .xterm .xterm-viewport {
  overflow-x: hidden;
  overflow-y: hidden;
}
